.um-side
  %nav.um-mypage-nav
    %ul.um-mypage-nav-list
      %li
        =link_to mypage_path, data:{turbolinks: "false"}, class: "um-mypage-nav-list-item" do
          マイページ
          = fa_icon 'angle-right', class: 'icon'
      %li
        =link_to "#", class: "um-mypage-nav-list-item" do
          お知らせ
          = fa_icon 'angle-right', class: 'icon'
      %li
        =link_to "#", class: "um-mypage-nav-list-item" do
          やることリスト
          = fa_icon 'angle-right', class: 'icon'
      %li
        =link_to "#", class: "um-mypage-nav-list-item" do
          いいね！一覧
          = fa_icon 'angle-right', class: 'icon'
      %li
        =link_to new_item_path, class: "um-mypage-nav-list-item" do
          出品する
          = fa_icon 'angle-right', class: 'icon'
      %li
        =link_to "#", class: "um-mypage-nav-list-item" do
          出品した商品-出品中
          = fa_icon 'angle-right', class: 'icon'
      %li
        =link_to "#", class: "um-mypage-nav-list-item" do
          出品した商品-取引中
          = fa_icon 'angle-right', class: 'icon'
      %li
        =link_to "#", class: "um-mypage-nav-list-item" do
          出品した商品-売却済み
          = fa_icon 'angle-right', class: 'icon'
      %li
        =link_to "#", class: "um-mypage-nav-list-item" do
          購入した商品-取引中
          = fa_icon 'angle-right', class: 'icon'
      %li
        =link_to "#", class: "um-mypage-nav-list-item" do
          購入した商品-過去の取引
          = fa_icon 'angle-right', class: 'icon'
      %li
        =link_to "#", class: "um-mypage-nav-list-item" do
          ニュース一覧
          = fa_icon 'angle-right', class: 'icon'
      %li
        =link_to "#", class: "um-mypage-nav-list-item" do
          評価一覧
          = fa_icon 'angle-right', class: 'icon'
      %li
        =link_to "#", class: "um-mypage-nav-list-item" do
          ガイド
          = fa_icon 'angle-right', class: 'icon'
      %li
        =link_to "#", class: "um-mypage-nav-list-item" do
          お問い合わせ
          = fa_icon 'angle-right', class: 'icon'

    %h3.um-mypage-nav-head メルペイ
    %ul.um-mypage-nav-list
      %li
      =link_to "#", class: "um-mypage-nav-list-item" do
        売上・振込申請
        = fa_icon 'angle-right', class: 'icon'
      %li
      =link_to "#", class: "um-mypage-nav-list-item" do
        ポイント
        = fa_icon 'angle-right', class: 'icon'

    %h3.um-mypage-nav-head 設定
    %ul.um-mypage-nav-list
      %li
      =link_to profile_path, data:{turbolinks: "false"}, class: "um-mypage-nav-list-item" do
        プロフィール
        = fa_icon 'angle-right', class: 'icon'
      %li
      =link_to "#", class: "um-mypage-nav-list-item" do
        発送元・お届け先住所変更
        = fa_icon 'angle-right', class: 'icon'
      %li
      =link_to credit_card_index_path, data:{turbolinks: "false"},class: "um-mypage-nav-list-item" do
        支払い方法
        = fa_icon 'angle-right', class: 'icon'
      %li
      =link_to "#", class: "um-mypage-nav-list-item" do
        メール/パスワード
        = fa_icon 'angle-right', class: 'icon'
      %li
      =link_to userconfirm_path, data:{turbolinks: "false"}, class: "um-mypage-nav-list-item" do
        本人情報
        = fa_icon 'angle-right', class: 'icon'
      %li
      =link_to "#", class: "um-mypage-nav-list-item" do
        電話番号の確認
        = fa_icon 'angle-right', class: 'icon'
      %li
      =link_to userlogout_path, data:{turbolinks: "false"}, class: "um-mypage-nav-list-item" do
        ログアウト
        = fa_icon 'angle-right', class: 'icon'
