%header.top-main-header
  .top-main-header__wrapper
    .top-main-header__wrapper__top
      .top-main-header__wrapper__top__left
        %a{:href => root_path}
          = image_tag("mercari_logo.svg", class: "mercari-image")
      = form_with url: root_path,local: true ,html: {class: "top-main-header__wrapper__top__form"} do |f|
        .top-main-header__wrapper__top__form__search-field.back-silver
          = f.text_field :keyword, class: 'top-main-header__wrapper__top__form__search-field__text-field', placeholder: 'キーワードから探す'
          = button_tag type: 'submit', class: 'top-main-header__wrapper__top__form__search-field__search-btn' do
            %i.fa.fa-search
    .top-main-header__wrapper__nav-box
      .top-main-header__wrapper__nav-box__left
        %ul.category
          %li.category__list
            = link_to "カテゴリーから探す",root_path,class:"category-black"

          %li.category__list
            = link_to "ブランドから探す",root_path,class:"category-black"

      .top-main-header__wrapper__nav-box__right
        %ul.right
          - if user_signed_in?

            %li
              = link_to 'mypage' do
                = image_tag("sample.jpg", class: "avater-image")
                %span マイページ
              %ul.mypage-box
                .profile-area
                  .profile-area__avatar
                    = image_tag("sample.jpg")
            %li.bell-color
              = link_to root_path do
                %i.fa.fa-bell
                %span お知らせ
            %li
              = link_to root_path do
                %i.fa.fa.fa-check
                %span やることリスト
          - else
            %li
              = link_to "ログイン", new_user_session_path, class: "login-link"
            %li
              = link_to "新規会員登録", new_user_registration_path, class: "registration-link"









