= render 'users/top-header'

.credit-right-content
  .credit-right-content__wrapper
    %h2.credit-title クレジットカード情報入力
  .credit-right-content__wrapper__box
    = form_with url: root_path,local: true , class: "credit-right-content__wrapper__box__form"do |f|
      .credit-right-content__wrapper__box__form__center
        .credit-right-content__wrapper__box__form__center__number
          .h4.number-title カード番号
          %span.form-require 必須
        = f.text_field :keyword, class: 'number-form', placeholder: '半角数字のみ'

        %ul.card-all
          %li
            %img.visa{src: "//www-mercari-jp.akamaized.net/assets/img/card/visa.svg?4136293187"}
          %li
            %img.master{src: "//www-mercari-jp.akamaized.net/assets/img/card/master-card.svg?4136293187"}
          %li
            %img.saison{src: "//www-mercari-jp.akamaized.net/assets/img/card/saison-card.svg?4136293187"}
          %li
            %img.jcb{src: "//www-mercari-jp.akamaized.net/assets/img/card/jcb.svg?4136293187"}
          %li
            %img.american{src: "//www-mercari-jp.akamaized.net/assets/img/card/american_express.svg?4136293187"}
          %li
            %img.dinners{src: "//www-mercari-jp.akamaized.net/assets/img/card/dinersclub.svg?4136293187"}
          %li
            %img.discover{src: "//www-mercari-jp.akamaized.net/assets/img/card/discover.svg?4136293187"}
        .credit-right-content__wrapper__box__form__center__expiration
          .h4.expiration-title 有効期限
          %span.form-require 必須
        = f.text_field :keyword, class: 'form-month', placeholder: '01'









= render 'users/camera-btn'
= render 'users/top-footer'
