= render 'users/top-header'
.um-default
  - breadcrumb :credit
  = render 'users/bread-crumbs'
  .um-container
    = render 'devise/shared/side_bar'
    .uc-content
      %section.uc-content__chapter
        %h2.uc-content__chapter__head 支払い方法
        .uc-single
          %section.uc-single__inner
            .uc-single__content
              %h3.uc-content-chapter-sub-head クレジットカード一覧
            %ul.uc-payment-list
          %section.uc-add-card
            .uc-single__content
              = link_to creditregistration_path, data:{turbolinks: "false"}, class: "uc-btn-default uc-btn-red submit_btn" do
                クレジットカードを追加する
                = fa_icon 'credit-card', class: 'icon'
          .uc-settings
            = link_to "#" do
              支払い方法について
              = fa_icon 'angle-right', class: 'icon'
= render 'users/camera-btn'
= render 'users/top-footer'
