= render 'users/top-header'
.um-default
  - breadcrumb :credit
  = render 'users/bread-crumbs'
  .um-container
    = render 'devise/shared/side_bar'
    .uc-content
      %section.uc-content__chapter
        %h2.uc-content__chapter__head 支払い方法
        .uc-single
          %section.uc-single__inner
            .uc-single__content
              %h3.uc-content-chapter-sub-head クレジットカード一覧
            %ul.uc-payment-list
          %section.uc-add-card
            .uc-single__content
              - if @card_info
                -# [@ToDo]ビューの調整必要
                %p.ib-content__payment-inner__info
                  = "************#{@card_info[:last4]}"
                  %br
                  = "#{@card_info[:exp_month]} / #{@card_info[:exp_year]}"
                .ib-content__payment-inner__visa
                  = get_credit_log(@card_info[:brand])
                -# [@ToDo]Myページから遷移時のみ削除ボタンを表示させるようにする
                =link_to "/credit_card/:id", method: :delete, class: 'um-mypage-nav-list-item' do
                  削除する
              - else
                = link_to creditregistration_path, data:{turbolinks: "false"}, class: "uc-btn-default uc-btn-red submit_btn" do
                  クレジットカードを追加する
                  = fa_icon 'credit-card', class: 'icon'
          .uc-settings
            = link_to "#" do
              支払い方法について
              = fa_icon 'angle-right', class: 'icon'
= render 'users/camera-btn'
= render 'users/top-footer'
