= render "devise/shared/login-header"

.ib-content
  %h2.ib-content__title
    購入を確定しますか？
  %section.ib-content__item
    .ib-content__item-inner
      .ib-content__item-inner__image
        = image_tag(@item.images[0].image.to_s, size:"148x148")
      %p.ib-content__item-inner-name
        = @item.name
      = form_with url:item_orders_path(@item.id), local:true, html: {class: "ib-content__item-inner__form"} do |f|

        %p.ib-content__item-inner__form-pay
          = converting_to_jpy(@item.price)
          %span
            送料込み
        -# @ToDo ポイントがある場合に表示するアコーディオンメニューの実装はまだ。
        .ib-content__item-inner__form-accordion
          ポイントはありません
          = fa_icon "angle-down"
        .ib-content__item-inner__form-payment
          .ib-content__item-inner__orm-payment-text
            支払い金額
          .ib-content__item-inner__form-payment-price
            = converting_to_jpy(@item.price)

        = f.hidden_field :item_id, value: @item.id
        = f.hidden_field :user_id, value: @user[:id]
        - if @card_info
          = f.submit "購入する", class: "ib-content__item-inner__form-submit"
        - else
          = f.submit "購入する", class: "ib-content__item-inner__form-submit-disable"

  .ib-content__address
    .ib-content__address-inner
      %h3 配送先
      %address
        .ib-content__address-innerr__text
          = @user[:postal_code]
          %br
          = @user[:street_address]
          %br
          = @user[:name]
      .ib-content__address-inner__change
        =link_to "#", class: "ib-content__address-inner__change-link" do
          変更する
          =fa_icon "angle-right"

  .ib-content__payment
    .ib-content__payment-inner
      %h3 支払い方法
      - if @card_info
        %p.ib-content__payment-inner__info
          = "************#{@card_info[:last4]}"
          %br
          = "#{@card_info[:exp_month]} / #{@card_info[:exp_year]}"
        .ib-content__payment-inner__logo
          = get_credit_log(@card_info[:brand])
      - else
        %p.ib-content__payment-inner__info
          = "/"
      .ib-content__payment-inner__change
        =link_to("#", class:"ib-content__payment-inner__change-link") do
          変更する
          = fa_icon "angle-right"

= render "devise/shared/login-footer"
