.is-wrapper
  = render 'users/top-header'

  = render 'users/bread-crumbs'


  %section.is-item
    %h1.is-item__name ワンピース全巻
    .is-item__main.clearfix
      .is-item__photos
        .is-slider
          .is-slider__item
            = image_tag("onepiece1.jpg")
          .is-slider__item
            = image_tag("onepiece2.jpg")
          .is-slider__item
            = image_tag("onepiece3.jpg")
          .is-slider__item
            = image_tag("onepiece4.jpg")



        .is-thumbnails
          .is-thumbnails__item.current
            = link_to '' do
              = image_tag("onepiece1.jpg")
          .is-thumbnails__item
            = link_to '' do
              = image_tag("onepiece2.jpg")
          .is-thumbnails__item
            = link_to '' do
              = image_tag("onepiece3.jpg")
          .is-thumbnails__item
            = link_to '' do
              = image_tag("onepiece4.jpg")
      %table.is-item__detail
        %tr
          %th 出品者
          %td
            = link_to "さいとー"
            .is-item__detail__icons
              .is-item__detail__icons--one
                = fa_icon 'smile-o'
                %span 0
              .is-item__detail__icons--one
                = fa_icon 'meh-o'
                %span 0
              .is-item__detail__icons--one
                = fa_icon 'frown-o'
                %span 999
        %tr
          %th カテゴリー
          %td
            %ul
              %li
                = link_to '漫画'
              %li
                = link_to '' do
                  = fa_icon 'angle-right'
                  %span ゴム類
              %li
                = link_to '' do
                  = fa_icon 'angle-right'
                  %span ワンピース
        %tr
          %th ブランド
          %td
            = link_to '集英社'
        %tr
          %th 商品の状態
          %td やや傷や汚れあり
        %tr
          %th 配送料の負担
          %td 送料込み(出品者負担)
        %tr
          %th 配送の方法
          %td らくらくメルカリ便
        %tr
          %th 配送元地域
          %td
            = link_to '埼玉県'
        %tr
          %th 発送日の目安
          %td 1~2日で発送
    .is-item__price
      %span.is-item__price--bold ¥ 99,999
      %span.is-item__price--tax (税込)
      %span.is-item__price--shipping-fee 送料込み
    = link_to "購入画面に進む", itemconfirm_path, class: "is-item__buy-btn"
    .is-item__description
      %p.is-item__description--inner
        この世界に生を受ける前からワンピースが大好きです。
        %br
        でも読みすぎて内容を全て覚えてしまったので、
        %br
        格安でお譲りしようと思います。
    .is-item__btns.clearfix
      .is-item__btns--left
        = button_tag type: "button", name: "like!", class: "is-item__btns--left--like btn" do
          = fa_icon "heart", class: "is-item__btns--left--like__icon"
          %span いいね!
          %span 5
        = link_to "", class: "is-item__btns--left--report btn" do
          = fa_icon "flag", class: "is-item__btns--left--report__icon"
          %span.is-item__btns--left--report__text 不適切な商品の報告
      .is-item__btns--right
        = link_to "", class: "is-item__btns--right--safe" do
          = fa_icon "lock", class: "is-item__btns--right--safe__icon"
          %span.is-item__btns--right--safe__text あんしん・あんぜんへの取り組み

  .is-item__comment-block
    .is-item__comment__wrapper
      .is-item__comments
        %ul
          %li.is-item__comment.clearfix
            = link_to "", class: "is-item__comment__user" do
              %figure
                = image_tag "kenchan.JPG", class: ""
                %figcaption ハンバーグ
            .is-item__comment__body
              .is-item__comment__body__text
                はじめまして！
                %br
                ハンバーグです！
              .is-item__comment__body__icons.clearfix
                %time
                  = fa_icon "clock-o"
                  %span 1日前
                = fa_icon 'flag'
          %li.is-item__comment.clearfix
            = link_to "", class: "is-item__comment__user" do
              %figure
                = image_tag "ikkyu.jpg", class: ""
                %figcaption ハンバーガー
            .is-item__comment__body
              .is-item__comment__body__text
                はじめまして！
                %br
                ハンバーガーです！
              .is-item__comment__body__icons.clearfix
                %time
                  = fa_icon "clock-o"
                  %span 2日前
                = fa_icon 'flag'
      .is-item__comments
        %p 相手のことを考え丁寧なコメントを心がけましょう。不快な言葉遣いなどは利用制限や退会処分となることがあります。
        %textarea{type:'text', name:'body', class: 'is-item__comment-form__textarea'}
        %input{type:'submit', class: 'is-item__comment-form__btn', value: 'コメントする'}
      %ul.is-item__navi.clearfix
        %li.is-item__navi--prev
          = link_to "" do
            = fa_icon "angle-left"
            NARUTO
        %li.is-item__navi--next
          = link_to "" do
            こち亀
            = fa_icon "angle-right"
      .is-item__social-media-box
        .is-item__social-medias-text
        %ul.is-item__social-medias
          %li
            = link_to '' do
              = fa_icon 'facebook-square'
          %li
            = link_to '' do
              = fa_icon 'twitter-square'
          %li
            = link_to '' do
              = fa_icon 'pinterest-square'
      .is-item__relation
        %section.is-item__relation__box
          %h2.is-item__ralation__box__title
            = link_to "さいとーさんのその他の出品", "", class: "items-box-container__title__topic"
          .is-item__relation__box__contents.clearfix
            - 6.times do
              = render 'users/item'
        %section.is-item__relation__box
          %h2.is-item__ralation__box__title
            = link_to "集英社の漫画 その他の出品", "", class: "items-box-container__title__topic"
          .is-item__relation__box__contents.clearfix
            - 6.times do
              = render 'users/item'

  = render 'users/top-footer'
