= render 'users/top-header'
.um-default
  - breadcrumb :mypage
  = render 'users/bread-crumbs'
  .um-container
    = render 'devise/shared/side_bar'
    = render 'devise/shared/um-content'
= render 'users/camera-btn'
= render 'users/top-footer'

