%header.top-header
  .top-header__inner
    .top-header__inner__top
      %h1.top-header__inner__top__logo
        = link_to image_tag('mercari_logo.svg', alt: 'mercari', width: '134', height: '36'), root_path
      %form.top-header-form{:action => "https://www.mercari.com/jp/search/"}
        %input.top-header-form__input{:name => "keyword", :placeholder => "キーワードから探す", :type => "search", :value => ""}
        %i.top-icon-search
          = fa_icon("search")

    .top-nav.clearfix
      %nav.top-nav__left
        %ul.top-nav__left__nav
          %li.top-nav__left__nav__list
            %h2.top-nav__left__nav__list__select
              %a.top-nav__left__nav__list__select__root{:href => "https://www.mercari.com/jp/category/"} カテゴリーから探す
          %li.top-nav__left__nav__list2
            %h2.top-nav__left__nav__list2__select
              %a.top-nav__left__nav__list2__select__root{:href => "https://www.mercari.com/jp/brand/"} ブランドから探す

      %nav.top-right
        %ul.top-right__nav
          %li.top-right__nav__list1
            = link_to '/testpage' do
              = image_tag("sample.jpg",class: "top-right__nav__list1__icon",width: '32',height: '32')
              .top-mypage マイページ

          %li.top-right__nav__list2
            = link_to '/testpage' do
              %i.top-right__nav__list2__bell
                = fa_icon("bell")
              %span.top-bell お知らせ

          %li.top-right__nav__list3
            = link_to '/testpage' do
              %i.top-right__nav__list3__check
                = fa_icon("check")
                %span.top-check やることリスト










