%header.top-header
  .top-header-inner
    .top-inner
      %h1.top-logo
        = link_to image_tag('mercari_logo.svg', alt: 'mercari', width: '134', height: '36'), root_path
      %form.top-header-form{:action => "https://www.mercari.com/jp/search/"}
        %input.top-input{:name => "keyword", :placeholder => "キーワードから探す", :type => "search", :value => ""}
        %i.top-icon-search
          = fa_icon("search")

    .top-nav-box.clearfix
      %nav.top-left
        %ul.top-left-nav
          %li.top-left-nav-list
            %h2
              %a.top-left-nav-root{:href => "https://www.mercari.com/jp/category/"} カテゴリーから探す
          %li.top-left-nave-list2
            %h2
              %a.top-left-nav-root{:href => "https://www.mercari.com/jp/brand/"} ブランドから探す

      %nav.top-right
        %ul.top-right-nav
          %li.top-right-nav-list1
            = link_to '/testpage' do
              = image_tag("sample.jpg",class: "top-header-user-icon",width: '32',height: '32')
              .top-mypage マイページ

          %li.top-right-nav-list2
            = link_to '/testpage' do
              %i.top-bell
                = fa_icon("bell")
              %span.top-bell お知らせ

          %li.top-right-nav-list3
            = link_to '/testpage' do
              %i.top-check
                = fa_icon("check")
                %span やることリスト










