= render 'users/top-header'
.um-default
  - breadcrumb :userlogout
  = render 'users/bread-crumbs'
  .uo-container.clearfix
    = render 'devise/shared/side_bar'
    .uo-right
      .uo-logout
        = button_to destroy_user_session_path,class: 'uo-btn',method: :delete do
          ログアウト
= render 'users/camera-btn'
= render 'users/top-footer'
