= render 'users/top-header'
.um-default
  - breadcrumb :userconfirm
  = render 'users/bread-crumbs'
  .confirm-main-content
    = render 'devise/shared/side_bar'
    .confirm-right-content
      .confirm-right-content__wrapper
        %h2.confirm-title 本人情報の登録
      .confirm-right-content__wrapper__box
        = form_with url: root_path,local: true , class: "confirm-right-content__wrapper__box__form"do |f|
          %p.confirm-message
            お客さまの本人情報をご登録ください。
            %br
            登録されたお名前・生年月日を変更する場合、本人確認書類の提出が必要になります。
          %a.confirm-upload{:href => "test", :target => "_"} 本人確認書類のアップロードについて＞

          .confirm-group-form
            %label.group-label お名前
            %p.confirm-content テスト太郎

          .confirm-group-form
            %label.group-label お名前カナ
            %p.confirm-content テスト タロウ

          .confirm-group-form
            %label.group-label  生年月日
            %p.confirm-content  2019/1/1

          .confirm-group-form
            .confirm-group-form__flex
              %label.group-label 郵便番号
              %span.form-option 任意
            = f.text_field :keyword, class: 'confirm-resister-form', placeholder: '例）1234567'

          .confirm-group-form
            .confirm-group-form__flex
              %label.group-label 都道府県
              %span.form-option 任意
            = f.collection_select :prefecture_id, Prefecture.all, :id, :name, {prompt:"--"}, {class: "confirm-resister-form"}


          .confirm-group-form
            .confirm-group-form__flex
              %label.group-label 市区町村
              %span.form-option 任意
            = f.text_field :keyword, class: 'confirm-resister-form', placeholder: '例）横浜市緑区'

          .confirm-group-form
            .confirm-group-form__flex
              %label.group-label 番地
              %span.form-option 任意
            = f.text_field :keyword, class: 'confirm-resister-form', placeholder: '例）青山1-1-1'

          .confirm-group-form
            .confirm-group-form__flex
              %label.group-label 建物名
              %span.form-option 任意
            = f.text_field :keyword, class: 'confirm-resister-form', placeholder: '例）柳ビル103'
          %button.confirm-button 登録する
          %a.confirm-registration{:href => "test", :target => "_"} 本人確認の登録について＞

= render 'users/camera-btn'
= render 'users/top-footer'
