= render "devise/shared/login-header"
.ul-contener
  %main.ul-main
    .ul-login
      .ul-new
        %p.ul-new__no-acount アカウントをお持ちでない方はこちら
        %a.ul-new__regist{href:"#"} 新規会員登録
      .ul-sns
        %button#ul-sns__fblogin.ul-sns__btn-default.ul-sns__btn-sns.ul-sns__btn-sns-fb
          .ul-sns__btn-sns-fb--icon
            = fa_icon("facebook-square 2x")
          Facebookでログイン
        %button#ul-sns__gglogin.ul-sns__btn-default.ul-sns__btn-sns.ul-sns__btn-sns-gg
          Googleでログイン
      .ul-form
        = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
          .ul-form__field
            = f.email_field :email, autofocus: true, autocomplete: "email",placeholder: "メールアドレス",class: "ul-form__field--input-text ul-form__field--input-default"
          .ul-form__field
            = f.password_field :password, autocomplete: "current-password",placeholder: "パスワード",class: "ul-form__field--input-text ul-form__field--input-default"
          .ul-form__btn
            = f.submit "ログイン",class: "ul-form__btn--submit ul-form__btn--default ul-form__btn--red"
          %a.ul-form__passwordforget{href:"#"} パスワードをお忘れの方
= render "devise/shared/login-footer"
